{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "indent": "off",
    "no-console": "off",
    "object-curly-spacing": "off",
    "linebreak-style": "off",
    "eol-last":  "off"
  }
}
